@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: hsl(217, 61%, 90%);
}

.toggle-wrapper {
  background-color: hsl(200, 60%, 99%);
  padding: 6px;
  border-radius: 8px;
}

.toggle-icon {
  border-radius: 8px;
  background-color: hsl(0, 0%, 93%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
